Source: vey-dcgen
Section: net
Priority: optional
Maintainer: VEY-OSS Developers <developers@vey.oss>
Build-Depends: debhelper, pkg-config, libssl-dev
Standards-Version: 3.9.8
Homepage: https://github.com/VEY-OSS/vey

Package: vey-dcgen
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Dynamic Certificate Generator
